# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore the generated folders by the build system

bin/
srv_gen/
msg_gen/


# Ignore the folders that are uniquely generated


ros/deltaRobotNode/src/deltaRobotNode/
tools/CMakeLists.txt_files/


