# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore the generated folders by the build system

bin/
srv_gen/
msg_gen/
ros/deltaRobotNode/src/deltaRobotNode/
build


# Ignore project file and cmake text file

tools/CMakeLists.txt_files/
*.sublime-project
*.sublime-workspace


