# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore the generated folders by the build system

bin/
dist/
srv_gen/
msg_gen/
ros/deltaRobotNode/src/deltaRobotNode/
ros/rosMast/src/rosMast/
ros/crateLocatorNode/src/crateLocatorNode/
ros/gripperNode/src/gripperNode/
tools/gripperTestNode/src/gripperTestNode/
build/

# Ignore project file, cmake text file and editor temporary files

tools/CMakeLists.txt_files/
sync.sh
*.sublime-project
*.sublime-workspace
*~



