<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">

	<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
		<listEntry value="/HUniversal/lib/jade.jar"/>
	</listAttribute>
	
	<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
		<listEntry value="1"/>
	</listAttribute>
	
	<mapAttribute key="org.eclipse.debug.core.environmentVariables">
		<mapEntry key="PROPERTIESPATH" value="${project_loc}/src/REXOS/MAS/configuration/"/>
		<mapEntry key="MSGPATH" value="${project_loc}/ACLMsgs/"/>
	</mapAttribute>
	
	<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
		<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
	</listAttribute>
	
	<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jade.Boot"/>
	<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-agents &quot;MainAgent :agents.main_agent.MainAgent&quot;"/>
	<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HUniversal-Production-Utrecht"/>
	
</launchConfiguration>
